/*Generel style*/
* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Karla', sans-serif;
}

h1{
    margin-top: 0px;
    margin-bottom: 20px;;
}

h6{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

span{
    color: #E68950;
}

p{
    font-size: 20px;
}

/*Start reusable*/

.container{
    margin-left: 20%;
    margin-right: 20%;
}

.section-heading{
    margin-bottom: 20px;
}

/*End reusable*/

/*Start header*/
.logo{
    position: absolute;
    left: 50px;
    top: 35px;
}

.logo a{
    text-decoration: none;
    color: #E68950;
}

.menu-toggler{
    position: fixed;
    top: 3rem;
    right: 1.5rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
  }

.bar{
    background-color: #E68950;
    width: 100%;
    height: 4px;
}

.bar:hover{
    background-color: #B13359;
    transition: background-color 0.5s;
}
header{
    background-image: url('images/burger.jpg');
    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-nav-mob{
    width: 100%;
    height: 100vh;
    top: -100vh;
    position: fixed;
    z-index: 50;
    background-color: rgb(0, 0, 0, 0.95);
}

.top-nav-mob.open{
    top: 0;
    transition: 0.4s;
}

.top-nav-mob a{
    text-decoration: none;
    color:#E68950;
    padding:3rem;
    display: inline-block;
}

.top-nav-mob a:hover{
    color:#B13359;
    transition: color 0.6s;
}

.top-nav-mob .nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .top-nav-mob li{
    margin: 0 2rem;
  }
  
  .top-nav-mob .nav-link{
    font-size: 50px;
    padding-left: 1rem;
  }

.top-nav a{
    text-decoration: none;
    color: #E68950;
}

.top-nav a:hover{
    color: #B13359;
    transition: color 0.6s;
}

.top-nav .nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
  }

.top-nav .nav-link{
    font-size: 30px;
    padding-left: 1rem;
}

.top-nav li{
    margin: 0 2rem;
    padding-top: 50px;
}
/*End header*/

/*Start about*/

.about{
    text-align: center;
    padding-top: 160px;
}


/*End about*/

#before-menu{
    background-image: url("images/burger-serving.jpg");
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10rem;
    transform: scale(1);
    transition: 0.6s;
}

#before-menu:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
/*Start menu*/
.menu{
    text-align: center;
    padding-top: 160px;
}

.menu a{
    text-decoration: none;
    color:#E68950;
}

.menu a:hover{
    color:#B13359;
    transition: color 0.6s;
}
/*End menu*/
#before-contact{
    background-image: url("images/burger-serving2.jpg");
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10rem;
    transform: scale(1);
    transition: 0.6s;
}

#before-contact:hover{
    transform: scale(1.1);
    transition: 0.6s;
}

/*Start contact*/
.contact{
    background-color: #F7F7F7;
    margin-top: 160px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-top: 160px;
    border-radius: 50px;
}

.contact h1, h6, input, select, textarea{
    text-align: center;
}
input,
select,
textarea{
    width:50%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    border-width: 0.5px;
    outline-color: #E68950;
}
label{
    font-size: 25px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}
input,textarea{
    border-radius: 0px;
}

#submit-button{
    background-color: #E68950;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.6s;
    color: white;
}

#submit-button:hover{
    background-color: #B13359;
    transition: all 2s;
}

form{
    text-align: center;
}

/*End contact*/

/*Start opening hours*/

.opening-hours{
    text-align: center;
    padding-top: 160px;
}
/*Start footer*/

footer{
    background-color: #E68950;
    width: 100%;
    height: 15vh;
    margin-top: 10rem;
}

.social-media{
    text-align: center;
    padding-top: 40px;
    margin-right: 20px;
    float: right;
}

.social-media a{
    font-size: 50px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.social-media a:hover{
    color: #B13359;
    transition: color 0.6s;
    
}
/*End footer*/

/*Media Queries*/
@media (max-width:1800px){
    h1{
       font-size: 70px;
    }
    
    .logo h1{
        font-size: 50px;
    }

    h6{
       font-size: 17px;
    }
   
    p{
       font-size: 20px;
    }

    .menu-toggler{
        visibility: hidden;
    }
}

@media (max-width:1000px){
    .logo{
        top: 45px;
    }

    .logo h1{
        font-size: 30px;
    }

    h1{
        font-size: 50px;
    }
    
    h6{
        font-size: 13px;
    }
    
    p{
        font-size: 16px;
    }

    .menu-toggler{
        visibility: visible;
    }
    
    .top-nav{
        visibility: hidden;
    }

    .contact{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .social-media{
        padding-top: 50px;
    }
    .social-media a{
        font-size: 40px;
    }
}
