/*Generel style*/
* {
    margin: 0;
    padding: 0;
} 
body{
    font-family: 'Manrope', sans-serif;
}
h1{
    margin-top: 0px;
}

/*Start reusable*/
.container{
    margin-top: 10rem;
    margin-left: 20%;
    margin-right: 20%;
}
/*End reusable*/

/*Start header*/
header{
    background-image: url('images/burger.jpg');
    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-nav{
    background-color: rgb(0, 0, 0, 0.2);
}

.top-nav ul{
    display: inline-block;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: auto;
    padding-right: auto; 
}

.top-nav li{
    padding-left: 3rem;
    
    display: inline;
    font-size: 1.3rem;
}

.top-nav a{
    text-decoration: none;
    color:#E68950;
}

.top-nav a:hover{
    color:#B13359;
    transition: color 0.6s;
}
/*End header*/

/*Start menu*/
.menu a{
    text-decoration: none;
    color:#E68950;
}

.menu a:hover{
    color:#B13359;
    transition: color 0.6s;
}
/*End menu*/